<h1>Movie Search</h1>
​
<form (ngSubmit)="search()" #f="ngForm">
  <input type="text" name="title" placeholder="Movie Title" required ngModel />
  <button (click)="search()" type="submit">Search</button>
</form>
​
<ul>
  <li *ngFor="let movie of movies; let i = index">
    <h5>{{ movie.Title }}</h5>
    <img [src]="movie.Poster" alt="" />
    <p>{{ movie.Plot }}</p>
    <p>{{ movie.Year }}</p>
    <button (click) ="saveMovie(i)">Add to watchlist</button> 
    <button (click) = "saveToMoviesWatched(i)">Already Watched</button>
    
  </li>
  
</ul>
