<div class="page">
<h1>Welcome Admin!</h1>

<table mat-table [dataSource]="users" class="mat-elevation-z8">
    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let user">{{user.username}}</td>
    </ng-container>

    <ng-container matColumnDef="newEmail">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user">{{user.newEmail}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let user">
<button (click)="userDelete(user.username)" mat-raised-button>X</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef= "columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay;"></tr>
</table>
</div>
