<div class = "title">
<h2>Sign Up.  It's Free!</h2>
</div>
<!-- <div class="jason">
    <img  class="images" src="assets/images/jason.png" style="width: 150px; height: 150px;" /> -->

<div class = "signup">
    

        <mat-form-field appearance="legacy">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="newEmail" type = "email" class = "form control"  required>
        </mat-form-field>
  <br>          
        <mat-form-field appearance="legacy">
             <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="username" required>
        </mat-form-field>
<br>
        <mat-form-field appearance="legacy">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="password" type="password">
        </mat-form-field>
<br>
 <button mat-raised-button color= 'primary' (click)="login()">Join Us</button>

<button mat-raised-button color= 'success' routerLink="/login" routerLinkActive="active" >Have An Account?</button>
     

<!-- Email
<input type="text" >
<div class="container">
<div class="img-holder">
<mat-card>
    <img mat-card-image src="https://images.unsplash.com/photo-1521898461100-618454f89314?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" height="20%" class="card-image">
</mat-card>
</div>
</div>
<mat-divider></mat-divider>

<mat-card>Sign Up Below</mat-card>
<mat-divider></mat-divider>



<div class="signup-form">
<mat-form-field appearance="fill" >
Email
<input matInput type="text" [(ngModel)]="newEmail">
<br>
Username
<input type="text" [(ngModel)]="username">
<br>
Password
<input type="text" [(ngModel)]="password">

<button mat-raised-button color= 'primary' (click)="login()">Click to Sign up!</button>
<button mat-raised-button color= 'success' routerLink="/login" routerLinkActive="active" >Login</button> -->

</div>

<!-- </div> -->
        
<!-- <button (click)="login()">Click to Sign up!</button>
</mat-form-field>
</div> -->
