<div class = "title">
<h2>Sign Up.  It's Free!</h2>
</div>
<!-- <div class="jason">
    <img  class="images" src="assets/images/jason.png" style="width: 150px; height: 150px;" /> -->

<div class = "signup">
    

        <mat-form-field appearance="legacy">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="newEmail" type = "email" class = "form control"  required>
        </mat-form-field>
  <br>          
        <mat-form-field appearance="legacy">
             <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="username" required>
        </mat-form-field>
<br>
        <mat-form-field appearance="legacy">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="password" type="password" required>
        </mat-form-field>
<br>
 <button mat-raised-button color= 'primary' (click)="login()">Join Us</button>

<button mat-raised-button color= 'success' routerLink="/login" routerLinkActive="active" >Have An Account?</button>
 

</div>

