<mat-list>
    <mat-list-item *ngFor="let watchList of watchLists">
        <img matListAvatar src="{{watchList.Poster}}" alt="" class="list-img">
        <h2 matLine>{{watchList.Title}}</h2>
        <h5 matLine> {{watchList.Year}}</h5>
        <span><button mat-icon-button class="btn" (click)="delete(watchList.id)">
            <mat-icon>delete</mat-icon>
        </button></span>
        <span><button mat-icon-button class="btn" (click)="addToMoviesWatched(watchList,watchList.id)">
            <mat-icon>plus_one</mat-icon>
        </button></span>
        <mat-divider></mat-divider>

    </mat-list-item>
</mat-list>
    



