<div class="full-page">
<h1>Welcome {{username}}</h1>

<!-- <div class="movie-search"><input [(ngModel)]="searchText" placeholder="Search Movies" />
</div> -->

<div class='tab-nav'>
    <mat-tab-group>
        <mat-tab label="Watchlist">
          <app-watchlist></app-watchlist>
        </mat-tab>
<mat-tab label="Movies Watched"><app-movies-watched></app-movies-watched></mat-tab>
        <mat-tab label="Top Rated">
          <h3>Some more tab content</h3>
          
        </mat-tab>
        <mat-tab label="Reviewed"><h3>Comments Input</h3></mat-tab>
        <mat-tab label="Community"><h3>Links to Other users Profiles</h3></mat-tab>
      </mat-tab-group>
</div>

</div>