.full-page{
    background-image: linear-gradient(-185deg, #00416A, #E4E5E6);
    height:100%;
    
}

.trending{
    display: flex;
    justify-content: center;
    padding-top: 20%;
}

#btn{
    display: flex;
    justify-content: center;
}
.get-started {
    color : #E4E5E6;
    background-color: red;
    font-size: 28px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  height: 10vh;
  }

h1{ 
    font-family: 'Fjalla One', sans-serif; 
    font-size: 75px;
    padding-top: 35px;
}

p{
    font-size: 18px;
    padding-top: 5px;
}

